body{
width:100%;
min-width:100%;
max-width:100%;
height:100%;
min-height:100%;
max-height:100%;
box-sizing:border-box;
overflow-y: hidden;
}
#inputKapsamaAlani{
display:flex;
width:100%;
min-width:100%;
max-width:100%;
height:700px;
margin:0 auto;
padding:0;
overflow:hidden;
outline:none;
vertical-align:top;
align-items: center;
justify-content: center;
}
#InputAlani{
display:absolute;
width:500px;
min-width:500px;
max-width:500px;
height:auto;
margin:0 auto;
padding:15px;
border:0;
outline:none;
background-color:#ccc;
-webkit-border-radius:15px;
-moz-border-radius: 15px;
-o-border-radius: 15px;
-ms-border-radius: 15px;
border-radius: 15px;
box-shadow: 0 5px 5px 3px grey;
-webkit-transition:all 500ms ease-in-out;
-moz-transition:all 500ms ease-in-out;
-o-transition:all 500ms ease-in-out;
-ms-transition:all 500ms ease-in-out;
transition:all 500ms ease-in-out;
}
#InputAlani input[type="text"]{
display:inline-block;
width:55%;
min-width:55%;
max-width:55%;
height:35px;
min-height:35px;
max-height:35px;
margin:0 auto;
padding:0;
padding-left:10px;
border:none;
outline:none;
background-color: #edebeb;
color:#646464;
font-family: Arial, Helvetica, sans-serif;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:125%;
text-align:left;
-webkit-border-radius:10px 0px 0px 10px;
-moz-border-radius: 10px 0px 0px 10px;
-o-border-radius: 10px 0px 0px 10px;
-ms-border-radius: 10px 0px 0px 10px;
-webkit-border-radius: 10px 0px 0px 10px;
}
@media only screen and (min-width:1200px){
#InputAlani input[type="text"]{
font-size:16px;
}
}
@media only screen and (min-width:992px) and (max-width:1199px){
#InputAlani input[type="text"]{
font-size:15px;
}
}
@media only screen and (min-width:768px) and (max-width:991px){
#InputAlani input[type="text"]{
font-size:14px;
}
}
@media only screen and (min-width:576px) and (max-width:767px){
#InputAlani input[type="text"]{
font-size:13px;
}
}
@media only screen and (max-width:575px){
#InputAlani input[type="text"]{
font-size:12px;
}
}
#InputAlani input[type="text"]:focus{
background-color:#fff;
border:3px solid #009f13;
-webkit-transition:all 6s ease-in-out;
-moz-transition:all 6s ease-in-out;
-o-transition:all 6s ease-in-out;
-ms-transition:all 6s ease-in-out;
transition:all 6s ease-in-out;
}
#InputAlani input[type="submit"]{
display:inline-block;
width:80px;
min-width:80px;
max-width:80px;
height:36px;
min-height:36px;
max-height:36px;
margin:0 auto;
padding:0;
overflow:hidden;
border:none;
border:2px solid white;
outline:none;
background-color:#000;
color:#fff;
font-family: Arial, Helvetica, sans-serif;
font-style:normal;
font-variant:normal;
font-weight:600;
text-align:center;
vertical-align:middle;
cursor:pointer;
border-radius:0 10px 10px 0;
-webkit-transition:all 500ms ease-in-out;
-moz-transition:all 500ms ease-in-out;
-o-transition:all 500ms ease-in-out;
-ms-transition:all 500ms ease-in-out;
transition:all 500ms ease-in-out;
}
@media only screen and (min-width:1200px){
#InputAlani input[type="submit"]{
font-size:16px;
margin-bottom: 2px;
}
}
@media only screen and (min-width:992px) and (max-width:1199px){
#InputAlani input[type="submit"]{
font-size:15px;
margin-bottom: 1px;
}
}
@media only screen and (min-width:768px) and (max-width:991px){
#InputAlani input[type="submit"]{
font-size:14px;
margin-bottom: 2px;
}
}
@media only screen and (min-width:576px) and (max-width:767px){
#InputAlani input[type="submit"]{
font-size:13px;
margin-bottom: 1px;
}
}
@media only screen and (max-width:575px){
#InputAlani input[type="submit"]{
font-size:12px;
margin-bottom: 2px;
}
}
#InputAlani input[type="submit"]:hover{
background-color:#292828;
border:4px solid #009f13;
-webkit-transition:all 7s ease-in-out;
-moz-transition:all 7s ease-in-out;
-o-transition:all 7s ease-in-out;
-ms-transition:all 7s ease-in-out;
transition:all 7s ease-in-out;
}
